/* Селекторы */

#first {
    list-style: none;
}
li {
    list-style: disc;
}

.list__item {
    list-style: circle;
}
li a {
    color: darkcyan;
}
a:hover {
    color: red;
}


/*
.list__item {

}
.menu__item {


}

.item {

}   

.list .item {

}

.menu .item {

}

*/

