.icon {
    display: block;
    height: 2rem;
    width: 2rem;
}
.icon_png-example  {
    background: url('./icons/icons8-часы-30.png');
    background-size: 2rem;
}

.icon_sprite-example  {
    background: url('./icons/css-sprites.png');
}
.icon_sprite-example-calendar  {
    background-position: 11.5rem 2.5rem;
}
.icon_sprite-example-cloud  {
    background-position: 17rem 2.5rem;
}

.icon_svg-example  {
    background: url('./icons/icons8-часы.svg');
    background-size: 2rem;
}
.icon_font-example  {}
